$color:#f00;
$bg: background;
$test:test;
#div1{
  background: $color;
  color: $color;
}
#div2{
  font-size: 16px;
  a{
    width: 20px;
    &:hover{
      color:red;
    }
    &-test{
      height: 10px;
    }
  }

}
#div3{
  background:{
    image:url("a.jpg");
    size:cover;
    position: left,center;
  }
  border:{
    top:{
      color:#f00;
      style:solid;
      width: 30px;
    }
  }
}

##{$test}{
  #{$bg}:url("");
}
