<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    是否需要额外付费设施：
    <input type="checkbox" v-model="isShow" @click="fn">
    <ul>
        <li v-for="xxx in arr" v-show="isShow">
            {{xxx.name}}({{xxx.price}})
            <input type="checkbox" v-model="sheBei" :value="xxx">
        </li>
    </ul>
    <span>订单费用信息</span>
    <ul>
        <li v-for="xx in sheBei">
            {{xx.name}}({{xx.price}})
        </li>
    </ul>
    总金额：{{total}}
</div>


<script src="vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            arr:[
                {name:'sofa',price:200},
                {name:'bed',price:500},
                {name:'wifi',price:20}
            ],
            sheBei:[
                {
                    name:'群力花园豪华型',
                    price:4000
                }
            ],
            isShow:false,
        },
        methods:{
            fn(){
                this.sheBei.splice(1);
            }
        },
        computed:{
            total(){
                var sum = 0;
                this.sheBei.forEach(function (x) {
                    sum += x.price;
                })
                return sum;
            }
        }
    })
</script>
</body>
</html>